$boldFont: 700 15px "Outfit", sans-serif;
$lightFont: 400 12px "Outfit", sans-serif;
$lightGray-color: hsl(212, 45%, 89%);
$white-color: hsl(0, 0%, 100%);
$grayishBlue-color: hsl(220, 15%, 55%);
$darkBlue-color: hsl(218, 44%, 22%);
